.middle {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
}
.bar {
width: 10px;
height: 70px;
background: #fff;
display: inline-block;
transform-origin: bottom center;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
animation: loader 1.2s linear infinite;
}
.bar1 {
animation-delay: 0.1s;
}
.bar2 {
animation-delay: 0.2s;
}
.bar3 {
animation-delay: 0.3s;
}
.bar4 {
animation-delay: 0.4s;
}
.bar5 {
animation-delay: 0.5s;
}
.bar6 {
animation-delay: 0.6s;
}
.bar7 {
animation-delay: 0.7s;
}
.bar8 {
animation-delay: 0.8s;
}

@keyframes loader {
0% {
    transform: scaleY(0.1);
    background: transparent;
}
50% {
    transform: scaleY(1);
    background: rgb(50, 153, 205);
}
100% {
    transform: scaleY(0.1);
    background: transparent;
}
}



form {
    display: flex;
    align-items:flex-start;
    height: 2rem;
    max-width: 90%;
    justify-content: center;
}

form label {
    padding-top: 0.25rem;
}

form input {
    align-self: stretch;
    font-size: 1.25rem;
    max-width: 50%;
}

form button {
    padding: 0 1rem;
    text-align: center;
}

@media screen and (min-width: 600px) {
    form button {
        height: 2rem;
        font-size: 1.25rem;
        align-self: stretch;
    }
}

@media screen and (max-width: 1200px) {
    form label {
        font-size: 1.75rem;
    }
    form button {
        padding: 0 0.75rem;
    }
}